<?xml version="1.0" encoding="UTF-8" ?>  

 <!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
 
 <log4j:configuration>  
   
   <appender name="console" class="org.apache.log4j.ConsoleAppender">  
     <param name="Target" value="System.out"/>  
     <layout class="org.apache.log4j.PatternLayout">  
       <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>  
     </layout>  
   </appender>  
   
   

  <!--  <appender name="R" class="org.apache.log4j.DailyRollingFileAppender">  
     <param name="file" value="${catalina.base}/logs/padoLight/padoLight.log"/>
     <param name="append" value="true" />
     <param name="encoding" value="UTF-8" />
     <param name="DatePattern" value="'.'yyyy-MM-dd"/>
     <layout class="org.apache.log4j.PatternLayout">  
       <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>  
     </layout>  
   </appender> -->
	
	<!--<appender name="H" class="org.apache.log4j.DailyRollingFileAppender">  
	     <param name="file" value="${catalina.base}/logs/padoLight/padoLightHibernateSQL.log"/>
	     <param name="append" value="true" />
	     <param name="encoding" value="UTF-8" />
	     <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	     <layout class="org.apache.log4j.PatternLayout">  
	       <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>  
	     </layout>  
	</appender>
	-->
	<logger name="org.hibernate">
		<level value="info"></level>
	</logger>
		    
   <root>  
     <priority value ="INFO" />  
     <!-- <appender-ref ref="R" /> -->
     <appender-ref ref="console" />
   </root>  
   
 </log4j:configuration> 
