<div ng-controller="LoginCtrl" class="login">
	<div id="login">
		<input type="email" id="username" name="username" placeholder = "Username/Email" class="username"/>
	    <input type="password" id="password" name="password" placeholder = "Password" class="password"/>
	    <input id="submit" class="input" name="submit" type="submit" value="Login" ng-click='login()';/>
	    <input id="submit" class="input" name="submit" type="submit" value="Register" ng-click='registerScreen()';/>
	    <input id="submit" class="input" name="submit" type="submit" value="Forgot Password" ng-click='forgotPasswordScreen()';/>
	</div>
</div>